.center {
    margin: auto;
    width: 25%;
    border: 3px solid green;
    padding: 10px;
}

.about_navigation_title {
    position: fixed;
    font-family: Bahnschrift;
    font-size: 100px;
    font-weight: 900;
    right: 0;
    bottom: 0;
    margin-right: 4.5%;
    margin-bottom: 1%;
    /* margin-top: 1%; */
    /* padding-top: 10%; */
    text-align: left;
    /* border-style: solid; */
    opacity: 0.6;
    color: rgb(43, 43, 43);
}