.p03_image_1 {
    width: 60vw;
    height: 900px;
    /* this heigt ensures that the format of the next picture is not fucked up */
    float: right;
    object-fit: cover;
}

.p02_image_0 {
    width: 100%;
    height: 700px;
    object-fit: cover;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.pB_image_top {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 50% 30%;
}

.pB_image_0 {
    display: block;
    /* display block makes sure the center works */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* margin auto results in the middle */
    width: 80%;
    height: auto;
}

.pB_image_1 {
    display: block;
    /* display block makes sure the center works */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* margin auto results in the middle */
    width: 68%;
    height: auto;
}

.peco_image_top {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 20% 58%;
    /* position:absolute; */
}

/* .image_to_background_fade{
    background-position-x: 500px;
    height: 200px;
    background-color: #43433d;
    color:#43433d;
    opacity: 0.6;
    border-style:  dashed;
    position:absolute;
} */

.top_bar_p03{
    height: 13vh;
    position: relative;
}

.about_image_0 {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    /* margin auto results in the middle */
    width: auto;
    height: 500px;
}

.bg_image_p02 {
    /* -webkit-transition: background-image 1.2s ease-in-out;
    transition: background-image 1.2s ease-in-out; */
    /* transition does not work, why? */
    background-image: url("images/project_02/first_prototype_3-min.jpeg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 80%;
    background-repeat: no-repeat;
    background-color: gray;
    position:relative;
    z-index:-1;
    opacity:0.65;
    /* adding position: relative and z-index: -1 moves this element to the back */
    width: 100%;
    height: 100vh;
    padding: none;
    margin: none;
    border: none;
    transition: 2s ease;

}

.bg_image_p03 {
    /* -webkit-transition: background-image 1.2s ease-in-out;
    transition: background-image 1.2s ease-in-out; */
    background-image: url("images/project_03/prototype_P03_1-min.jpg");
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-color: gray;
    position:relative;
    z-index:-1;
    opacity:0.65;
    width: 100%;
    height: 100vh;
    padding: none;
    margin: none;
    border: none;
    transition: 2s ease;

}
.bg_image_TUecomotive {
    /* -webkit-transition: background-image 1.2s ease-in-out;
    transition: background-image 1.2s ease-in-out; */
    background-image: url("images/TUecomotive/BvOF\ 2022_0720_AHL\ -\ CO2-capturing\ concept\ car\ ZEM\ by\ student\ team\ TUecomotive-min.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-color: gray;
    position:relative;
    z-index:-1;
    opacity:0.65;
    width: 100%;
    height: 100vh;
    padding: none;
    margin: none;
    border: none;
    transition: 2s ease;

}

.bg_image_PBitje {
    /* -webkit-transition: background-image 1.2s ease-in-out;
    transition: background-image 1.2s ease-in-out; */
    background-image: url("images/project_Bitje/IMG_20221215_154824-min.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y:50%;
    background-repeat: no-repeat;
    background-color: gray;
    position:relative;
    z-index:-1;
    opacity:0.65;
    width: 100%;
    height: 100vh;
    padding: none;
    margin: none;
    border: none;
    transition: 2s ease;

}

.bg_image_Aoi {
    /* -webkit-transition: background-image 1.2s ease-in-out;
    transition: background-image 1.2s ease-in-out; */
    background-image: url("images/aesthetics_of_interaction/aesthethics\ final\ fotos-4-min.jpg");
    background-size:cover;
    background-position-x: 25%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-color: gray;
    position:relative;
    z-index:-1;
    opacity:0.65;
    width: 100%;
    height: 100vh;
    padding: none;
    margin: none;
    border: none;
    transition: 2s ease;

}

.youtube_video_style{
    margin: 1%;
    /* Position: center; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .about_image_0 {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        /* margin auto results in the middle */
        width: auto;
        height: 400px;
    }

    .peco_image_top {
        width: 100%;
        height: 550px;
        object-fit: cover;
        object-position: 50% 45%;
    }

    .p02_image_0 {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .pB_image_top {
        width: 100%;
        height: 550px;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .youtube_video_style{
        margin: 1%;
        /* Position: center; */
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 50vh;
    }
}

@media only screen and (max-width: 767px) {

    .peco_image_top {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: 50% 45%;
    }

    .p02_image_0 {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .pB_image_top {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .about_image_0 {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        /* margin auto results in the middle */
        width: auto;
        height: 300px;
    }

    .youtube_video_style{
        margin: 1%;
        /* Position: center; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 80%;
        height: 30vh;
    }

}