@font-face {
    font-family: Bahnschrift;
    src: url(fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF) format("truetype");
    /*importing the bahnschrift light from the folder*/

}

body {
    margin: 0;
    /* removes white lines on the left and right */
    /* other margins and padding 0 is useless for this in width */
}

ul {
    list-style-type: none;
    /* margin: 10px; */
    /* padding: 40px; */
}

/* ul.nav_style li a:before{color: red;} */

li {
    padding-bottom: 10px;
}

.gray_background_page {
    background-color: lightgray
}

.dark_gray_background_page {
    /* background-color: #757780; */
    /* background-color: #10100f; */
    /* background-color: #2c2c25; */
    /* background-color: #5b5b56; */
    background-color: #43433d;
}

.normal_gray_background_page {
    background-color: grey;
}


.footer_text_style {
    font-family: Bahnschrift;
    text-decoration: none;
    color: black;
    font-size: 40px;
    position: fixed;
    right: 0%;
    bottom: 0%;
    margin: 10px;
    padding: 40px;
    /* border-style: dotted; */
}

.footer_text_style:hover {
    font-family: Bahnschrift;
    font-size: 60px;
    font-weight: 900;
    position: fixed;
    right: 0%;
    bottom: 0%;
    margin: 10px;
    padding: 40px;
    transition: 0.2s ease;
}

.bottom_list_style {
    float: right;
    right: 2%;
    bottom: 0%;
    position: fixed;
    overflow: hidden;
    list-style: none;
    /* this is for the li element */
}

.bottom_li_style {
    right: 0%;
    bottom: 0%;
    margin: 25px;
    /* padding: 40px; */

    display: inline;
}

.bottom_a_style {
    font-family: Bahnschrift;
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.bottom_a_style:hover {
    font-family: Bahnschrift;
    font-size: 60px;
    font-weight: 900;
    /* position: fixed; */
    /* right: 0%;
    bottom: 0%;
    margin: 10px;
    padding: 40px; */
    transition: 0.2s ease;
}

/* #bottom_list_ul ul{
    float: right;
    right: 2%;
    bottom: 0%;
    position: fixed;
    overflow: hidden;
    list-style: none;
} */


.index_navigation_list_style {
    position: fixed;
    width: 40%;
    border: none;
    box-sizing: border-box;
}

.body_style {
    overflow: hidden;
    border: none;
    margin: none;
    padding: none;
}

.image_container {
    margin: none;
    padding: none;
    border: none;
    /* transition: transform 2s; */
}

.list_text_style {
    font-family: bahnschrift;
    /* font-weight: bold; */
    text-decoration: none;
    /* color: rgb(29, 27, 27); */
    color: black;
    font-size: 40px;
    /* padding: 12px; */
    /* border-style: dotted; */
}

.test {
    color: black;
}

.active {
    font-family: bahnschrift;
    text-decoration: none;
    font-weight: 900;
    font-size: 60px;
}

.Pactive {
    font-family: bahnschrift;
    text-decoration: none;
    font-weight: 900;
    font-size: 70px;

    /* needs to be in the main because used the same list style */
}

.list_text_style:hover {
    font-family: Bahnschrift;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 60px;
    transition: 0.2s ease-in;
}

.preview_image_style {
    object-position: middle;
    object-fit: fill;
}

@media only screen and (max-width: 767px) {

    .list_text_style {
        font-family: bahnschrift;
        /* font-weight: bold; */
        text-decoration: none;
        /* color: rgb(29, 27, 27); */
        color: black;
        font-size: 35px;
        /* padding: 12px; */
        /* border-style: dotted; */
    }

    .list_text_style:hover {
        font-family: Bahnschrift;
        text-decoration: none;
        color: black;
        font-weight: 900;
        font-size: 55px;
        transition: 0.2s ease-in;
    }

    .index_navigation_list_style {
        position: fixed;
        width: 80%;
        border: none;
        box-sizing: border-box;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .list_text_style {
        font-family: bahnschrift;
        /* font-weight: bold; */
        text-decoration: none;
        /* color: rgb(29, 27, 27); */
        color: black;
        font-size: 38px;
        /* padding: 12px; */
        /* border-style: dotted; */
    }

    .list_text_style:hover {
        font-family: Bahnschrift;
        text-decoration: none;
        color: black;
        font-weight: 900;
        font-size: 58px;
        transition: 0.2s ease-in;
    }

    .index_navigation_list_style {
        position: fixed;
        width: 40%;
        border: none;
        box-sizing: border-box;
    }
}