.background_page_description {
    margin-top: 0;
    padding: 0;
    border:0;
    /* border:0; */
    /* border-style:dotted; */
    background-color: rgb(165, 165, 165);

    height: 400px;
}

.pB_image_0 {
    display: block;
    /* display block makes sure the center works */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* margin auto results in the middle */
    width: 80%;
    height: auto;
}

.pB_image_1 {
    display: block;
    /* display block makes sure the center works */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* margin auto results in the middle */
    width: 68%;
    height: auto;
}

